<div id="hotels" class="col-xs-4">
    <h4>Hotels</h4>
    <select name="hotel"></select>
    <button type="button" class="put btn btn-primary btn-sm">set</button>
</div>
<div id="things-to-do" class="col-xs-4">
    <h4>Things To Do</h4>
    <select name="thing-to-do"></select>
    <button type="button" class="put btn btn-primary btn-sm">add</button>
</div>
<div id="restaurants" class="col-xs-4">
    <h4>Restaurants</h4>
    <select name="restaurant"></select>
    <button type="button" class="put btn btn-primary btn-sm">add</button>
</div>