<div class="btn-toolbar" role="toolbar">
    <div id="days" class="btn-group">
        <button class="btn btn-default btn-primary">Day 1</button>
    </div>
    <button id="add-day" type="button" class="btn btn-default">+</button>
</div>
<div id="this-plan">
    <h3>Plan for <span id="this-day"><span id="this-title">Day 1</span><button type="button" class="remove btn btn-danger btn-xs">x</button></span></h3>
    <div id="this-hotel" class="panel panel-default">
        <div class="panel-heading">Hotel</div>
        <ul class="list-group clearfix"></ul>
    </div>
    <div id="these-things-to-do" class="panel panel-default">
        <div class="panel-heading">Things To Do</div>
        <ul class="list-group clearfix"></ul>
    </div>
    <div id="these-restaurants" class="panel panel-default">
        <div class="panel-heading">Restaurants</div>
        <ul class="list-group clearfix"></ul>
    </div>
</div>