<!-- day panel template -->
<script type="text/template" id="day_panel_template">
	<h4>Plan for <span id="this-day"><span id="this-title">Day <%= dayNum %></span><button type="button" class="remove btn btn-danger btn-xs">x</button></span></h4>

	<div class="panel panel-default">
		<div class="panel-heading">Hotel</div>
		<ul class="hotels list-group clearfix">
			<!-- activityView -->
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Restaurants</div>
		<ul class="restaurants list-group clearfix">
			<!-- [activityView] -->
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Things To Do</div>
		<ul class="thingsToDo list-group clearfix">
			<!-- [activityView] -->
		</ul>
	</div>
</script>

<!-- dropdown template -->
<script type="text/template" id="dropdown_template">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<!-- [activityOptionView] -->
		</ul>
	</div>
</script>

<!-- activity option template -->
<script type="text/template" id="option_template">
	<li><a tabindex="-1" href="#"><%= name %></a></li>
</script>

<!-- day button template -->
<script type="text/template" id="button_template">
	<button class="btn btn-default btn-primary">Day <%= dayNum %></button>
</script>

<!-- activity template -->
<script type="text/template" id="activity_template">
	<div class="activity">
		<div class="col-xs-10 day-item"><%= name %></div>
		<div class="col-xs-2 remove">
			<button type="button" class="btn btn-danger btn-xs">x</button>
		</div>
	</div>
</script>