body {
	padding-top: 50px;
	min-width: 400px;
}

.container {
	min-width: 200px;
}

#day-buttons {
	margin-top: 20px;
}

#map-canvas {
	margin-top: 10px;
	height: 400px;
}

.activity {
	.remove, .day-item {
		padding: 5px 0 5px 0;
	}
	.remove {
		text-align: right;
		padding-right: 12px;
		padding-left: 3px;
	}
	.day-item {
		text-align: left;
		padding-left: 12px;
		padding-right: 3px;
	}
}

#this-day {
	padding: 5px;
	border: 1px solid #428bca;
	border-radius: 4px;
	display: inline-block;
	> .remove {
		margin-left: 6px;
		text-align: bottom;
	}
}

#this-title {
	color: #428bca;
}